body{

}

.liquor_searchResult{
	margin-bottom: 10px;
	padding-bottom: 10px;
	
}
.liquor_searchResult .liquor_searchResult_name{
	font-weight:bold;
	font-size:18px;
}

#liquor_searchResults{
	width: 505px;
}

#liquor_homeSearch{
	background-color:white;
	padding:20px;
}

#liquor_homeSearch #liquor_logo{
	margin-left:auto;
	margin-right:auto;
	max-width:530px;
}

.liquor_formSearch{
	min-width:505px;
}

#liquor_tagSearch{
	padding-top:5px;
}

#liquor_about{
	padding-top:5px;
}

#liquor_mainSubtitle{
	color:black;
	font-weight:bold;
	font-size:18px;
	
}

#liquor_logo .hero-unit{
	padding:20px;
	margin-top:20px;
	min-width:505px;
	background: url('/media/img/cardboard_flat.png');
}

#footer{
	background-color:black;
}

.liquor_searchThumb{
	margin-top:10px;
}


