

#liquor_searchResults{
	max-width: 505px;
}
.liquor_searchResult{
	margin-bottom: 10px;
	padding-bottom: 10px;
	
}
.liquor_searchResult .liquor_searchResult_name{
	font-weight:bold;
	font-size:18px;
}

#liquor_searchHolder .form-search input {
	width:70%; 
	max-width:400px;
}
#liquor_searchHolder .form-search span {
	width:30%;
	max-width:100px;
}

#liquor_tagSearch{
	padding-top:5px;
}


#liquor_contentWrap{
	padding-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	max-width:530px;
}


#liquor_mainSubtitle{
	color:black;
	font-weight:bold;
	font-size:18px;
	
}

#liquor_contentWrap .hero-unit{
	padding:20px;
	margin-top:20px;
	/*min-width:505px;*/
	background: url('/static/media/img/cardboard_flat.png');
}





