<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Liquoropoly</title>
		<link href="static/media/css/lib/layout.css" rel="stylesheet">
		<link href="static/media/css/lib/base.css" rel="stylesheet">
		<link href="static/media/css/lib/skeleton.css" rel="stylesheet">
	</head>
	<body>

		<div class="container">
			
			<header class="sixteen columns">
				<!--<img style="max-width:100%; height:auto; margin:0px auto; display:block;" src="/static/media/img/logo4.jpg" />-->
				<img src="http://dummyimage.com/940x80/ff0000/fff&text=liquor+logo" style="max-width:100%; height:auto;" />
			</header>
		
			<div id="mainContentArea">	
			</div>
			
		</div>
			
		
		
		<script type="text/html" id="template_indexSearchOLD">
			
				<div class="ten columns offset-by-three">
					<div style="width:70%; float:left;">
			  			<input type="text" placeholder="liquor name (like jack daniel's) or type (like whiskey)">
					</div>
					<div style="width:30%; float:left;">
						<button>Get Prices</button>
					</div>
				</div>
			
			<!--<div id="liquor_tagSearch">
				<h4>Or by type:</h4>
				<a href="#/tags/whiskey" class="btn btn-inverse">whiskey</a>
				<a href="#/tags/gin" class="btn btn-inverse">gin</a>
				<a href="#/tags/tequila" class="btn btn-inverse">tequila</a>
				<a href="#/tags/vodka" class="btn btn-inverse">vodka</a>
				<a href="#/tags/brandy" class="btn btn-inverse">brandy</a>
			</div>-->
		</script>
		
		<script type="text/html" id="template_searchResults">
			<div id="liquor_searchResults" class="container">
				
				<div id="liquor_searchResultsContainer">
					<h3>Drinks <%= actionName %> "<%= drinkName %>":</h3>
					
					<%= results %>
				</div>
				
			</div>
		</script>
		
		<script type="text/html" id="template_searchResult">
			<div class="liquor_searchResult">
				<div>
					<span class="liquor_searchResult_name"><%= name %> - </span>
					<%= prices %>
				</div>
				<div>
					<span>Tagged: </span>
					<%= tags %>
				</div>
			</div>
		</script>
		
		<script type="text/html" id="template_searchResultPrice">
			<span class="label label-success">$<%= price %> <%= size %></span>
		</script>
		
		<script type="text/html" id="template_searchResultTag">
			<a href="#/tags/<%= name %>" class="liquor_searchResult_tagLink"><%= name %></a>
		</script>
		
		<script type="text/html" id="template_searchResultEmpty">
			<div class="liquor_emptyResults">
				<h4>Whoops! We couldn't find anything. <a href="/">Search Again</a></h4>
			</div>
		</script>
		
		
		<script src="static/media/js/lib/jquery-1.8.0.min.js"></script>
		<script src="static/media/js/lib/underscore-min.js"></script>
		<script src="static/media/js/lib/backbone-min.js"></script>
		<script src="static/media/js/models/drink.js"></script>
		<script src="static/media/js/collections/drinks.js"></script>
		<script src="static/media/js/views/drink.js"></script>
		<script src="static/media/js/views/empty.js"></script>
		<script src="static/media/js/views/results.js"></script>
		<script src="static/media/js/views/search.js"></script>
		<script src="static/media/js/routers/router.js"></script>
		<script src="static/media/js/app.js"></script>
		
		
	</body>
</html>